.search-history {
    background-color: bisque;
    color: rgb(211, 137, 1);
}
.current-search {
    background-color: rgb(255, 255, 255);
    color:black;
}
.nav-bar {
    background-image: linear-gradient(to bottom right, blue, red);
}
.search-button {
    opacity: 0.5;
}